<h2>Order Item</h2>
<form id="OrderItemForm" (ngSubmit)="Add()">

  <label>Customer:</label>
  <select [(ngModel)]="ItemOrder.customerID" name="customerID" >
    <option *ngFor="let customer of customers" value="{{customer.customerID}}">{{customer.customerName}}</option>
  </select>
  <br /><br />


  <label>Item:</label>
  <select [(ngModel)]="ItemOrder.itemID" name="itemID"style="margin-left:36px;" (ngModelChange)="getPrice(ItemOrder.itemID)">
    <option *ngFor="let item of items" value="{{item.itemID}}">{{item.itemName}}</option>
  </select>
  <br /><br />


  <label> Quantity:</label>
  <input [(ngModel)]="ItemOrder.ItemOrderQuantity" type="number" min="0" max="50"id="itemQuantity" name="ItemOrderQuantity" style="width:82px;margin-left:10px;" (ngModelChange)="getPrice(ItemOrder.itemID)" />
  <br /><br />


  <label> Amount:</label>
  <input disabled [(ngModel)]="ItemOrder.TotalAmount" name="TotalAmount" type="text" style="width:82px;margin-left:13px;" />
  <br /><br />

  <button  type="submit" class="btn-primary">Add</button>
</form>
<br /><br />



<table class='table'>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Item </th>
      <th>Quantity</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Obj of arr;let RowIndex = index" (click)="LoadData(Obj)">
      <td>{{ Obj.customerID }}</td>
      <td>{{ Obj.itemID }}</td>
      <td>{{ Obj.ItemOrderQuantity }}</td>
      <td>{{ Obj.TotalAmount }}</td>
      <td><input (click)="Delete(RowIndex)" type="button" class="btn-primary" value="Delete" /></td>
    </tr>
  </tbody>
</table>
<input (click)="Save()" type="button" class="btn-primary" value="Save" />
